$color-1: #E2E6E7;
$color-2: #FFC12D;
$color-3:  #F9B718;
$color-4: #2C3E50;
$color-5: #A1B1BC;
$color-6: #CFD2D3;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 1170px;
    margin: 0 auto;
    margin-top: 20px;

    .alert {
        border: 1px solid $color-1;
        padding: 40px 45px;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        div {
            

            h3 {
                font-family: "lato";
                font-weight: 900;
                color: $color-4;
                margin-bottom: 5px;
                font-size: 14px;
            }
            p {
                color: $color-5;
                font-family: "lato";
                font-weight: 400;
                line-height: 24px;
                font-size: 14px;
            }

        }  
        &::before{
            font-family: FontAwesome;
            content: "\f12a";
            width: 60px;
            height: 60px;
            background: #FFC12D;
            border: 3px solid #F9B718;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;;
        }
    }
    
    

    a {
        position: absolute;
        top: 10px;
        right: 10px;
        text-decoration: none;

        &::after{
            font-family: FontAwesome;
            content: "\f00d";
            color: $color-6;
            font-size: 14px;
        }
        
    }

    

}




