@import 'reset';
@import 'palette';
@import 'base';
@import 'components/notification/index';

.wrap {
    display: grid;
    grid-gap: 31px;
    grid-template-columns: repeat(2, 569px);
    width: 1180px;
    margin: 0 auto;
    margin-top: 20px;
}
