$color-1: #E2E6E7;
$color-2: #FFC12D;
$color-3: #F9B718;
$color-4: #2C3E50;
$color-5: #A1B1BC;
$color-6: #CFD2D3;
$color-7: #A7EC2F;
$color-8: #FEB1A4;
$color-9: #85EBFA;
$color-10:#AACDF6;
$color-11:#7BC200;
$color-12:#F55C43;
$color-13:#47B4F6;
$color-14:#8781BD;
$color-15:#2C3E50;
$color-16:#B18009;
$color-17:#C89210;
